<?xml version="1.0" encoding="utf-8"?>

<!--  

  Robot testing setup
  Setup network before leave
  update gps lat long in gps_to_pose.launch
  start path publishing node pochito path_publisher.py
  start path following node pochito 

-->

<launch>

<!-- ****** Maps ***** -->
<node name="map_server" pkg="map_server" type="map_server" respawn="true"
		 args="$(find lawn_tractor_sim)/maps/farm.yaml" output="screen">
	<param name="frame_id" value="map"/>
</node>

<!-- ****** Fake localization for map and gps ***** -->
<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /odom 100"/>

<!--  Transforms
These are the measurements in meters for your sensors (x y z yaw pitch roll) x forward y left z up
-->
        <!-- node pkg="tf" type="static_transform_publisher"
                name="base_transform"
                args="0.0 0.0 0.2286 0 0 0 base_footprint base_link 10" -->
        <node pkg="tf" type="static_transform_publisher"
                name="gps_transform" respawn="true"
                args="1.40 0.0 0.55 0 0 0 base_link gps 10" />


<!--  Start GPS_Pose Localization-->
<!--  Calc heading from GPS-->
<node pkg="lawn_tractor_navigation" type="gps_heading.py" name="gps_heading" output="log"/>

<!--  Combines heading from gps /vel message and GPS /fix -->
<include file="$(find geodetic_utils)/launch/gps_to_pose.launch" />

<!--  *****  Plot path of robot in rvize -->
<node pkg="lawn_tractor_navigation" type="odom_to_path.py" name="odom_to_path" output="log"/>

<!--  *****  Display off path error in rvize -->
<node pkg="lawn_tractor_navigation" type="rviz_display.py" name="rviz_display" output="log"/>

<!-- ****** RVIZ ***** -->
<node name="tractor_viz" pkg="rviz" type="rviz" output="screen"
     args="-d $(find lawn_tractor_sim)/rviz/tractor_viz.rviz">
</node>

</launch>
