<?xml version="1.0" encoding="utf-8"?>

<launch>

  <arg name="name" default="tractor"/>
  <!-- Pure pursuit path tracking -->
  <node pkg="pure_pursuit" type="pure_pursuit" name="controller"  clear_params="true">
    <param name="robot_frame_id" value="base_link"/>
    <param name="global_frame_id" value="odom"/>
    <param name="lookahead_frame_id" value="lookahead"/>
    <rosparam file="$(find lawn_tractor_navigation)/params/pure_pursuit/tractor.yaml" command="load"/>
    <remap from="path_segment" to="/drive_path"/>
    <remap from="odometry" to="odom"/>
    <remap from="cmd_vel" to="cmd_vel"/>
    <!-- remap from="odometry" to="/odometry/filtered"/ -->
    <!-- remap from="cmd_vel" to="cmd_vel"/ -->

  </node>

<!-- ************** Robot Description *************** -->
    <!-- robot_description is used by nodes that publish to joint_states. -->
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder $(find lawn_tractor_sim)/urdf/lawn_tractor.urdf.xacro"/>

</launch>